service: sls-guru-article-crud

plugins:
  - serverless-offline

custom:
  stage: ${opt:stage, self:provider.stage}
  stackName: ${self:service}-${self:custom.stage}
  serverless-offline:
    port: 4000

provider:
  name: aws
  runtime: nodejs14.x
  environment:
    ARTICLE_TABLE: ${self:service}-${opt:stage, self:provider.stage}-article
  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:*
      Resource: !GetAtt [ArticlesDynamoDBTable, Arn]

functions:
  create:
    handler: src/functions/create-article.main
    description: Create an article based on title and description
    events:
      - http:
          path: articles
          method: post
  list:
    handler: src/functions/list-articles.main
    description: List all articles
    events:
      - http:
          path: articles
          method: get
  show:
    handler: src/functions/show-article.main
    description: Show article by ID
    events:
      - http:
          path: articles/{id}
          method: get
  destroy:
    handler: src/functions/destroy-article.main
    description: Delete article by ID
    events:
      - http:
          path: articles/{id}
          method: delete
  update:
    handler: src/functions/update-article.main
    description: Update article by ID
    events:
      - http:
          path: articles/{id}
          method: put
resources:
  Resources:
    ArticlesDynamoDBTable:
      Type: 'AWS::DynamoDB::Table'
      DeletionPolicy: Retain
      Properties:
        AttributeDefinitions:
          -
            AttributeName: "id"
            AttributeType: "S"
        KeySchema:
          -
            AttributeName: "id"
            KeyType: "HASH"
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        StreamSpecification:
          StreamViewType: "NEW_AND_OLD_IMAGES"
        TableName: ${self:provider.environment.ARTICLE_TABLE}
